<%= nested_form_for(@order, :html => { :multipart => true }) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source_type %><br />
    <%= f.text_field :source_type %>
  </div>
  <div class="field">
    <%= f.label :source_id %><br />
    <%= f.number_field :source_id %>
  </div>
  <div class="field">
    <%= f.label :destination_type %><br />
    <%= f.text_field :destination_type %>
  </div>
  <div class="field">
    <%= f.label :destination_id %><br />
    <%= f.number_field :destination_id %>
  </div>
  <div class="field">
    <%= f.label :preferred_time %><br />
    <%= f.datetime_select :preferred_time %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>

  <% if can? :update, @order %>
    <div class="field">
      <%= f.check_box :accepted %>
      <%= f.label :accepted %>
    </div>

    <div class="field">
      <%= f.check_box :send_details %>
      <%= f.label :send_details %>
    </div>

    <div class="field">
      <%= f.check_box :final_pick_confirmation %>
      <%= f.label :final_pick_confirmation %>
    </div>

    <div class="field">
      <%= f.check_box :complete_delivery_confirmation %>
      <%= f.label :complete_delivery_confirmation %>
    </div>

    <div class="field">
      <%= f.label :order_type %><br />
      <%= f.select :order_type, Order.order_types.keys, {:include_blank => true} %>
    </div>
  <% end %>

  <%= render :partial => '/common/packages', :locals => { :f => f } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
