<h1>Listing orders</h1>

<table>
  <tr>
    <th>Source type</th>
    <th>Source</th>
    <th>Destination type</th>
    <th>Destination</th>
    <th>Preferred time</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.source_type %></td>
    <td><%= order.source_id %></td>
    <td><%= order.destination_type %></td>
    <td><%= order.destination_id %></td>
    <td><%= order.preferred_time %></td>
    <td><%= order.user_id %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
