<p id="notice"><%= notice %></p>

<p>
  <b>Source type:</b>
  <%= @order.source_type %>
</p>

<p>
  <b>Source:</b>
  <%= @order.source_id %>
</p>

<p>
  <b>Destination type:</b>
  <%= @order.destination_type %>
</p>

<p>
  <b>Destination:</b>
  <%= @order.destination_id %>
</p>

<p>
  <b>Preferred time:</b>
  <%= @order.preferred_time %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
