<!DOCTYPE html>
<html>
<head>
  <title>Hobby</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if signed_in? %>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Sign out", signout_path, method: "delete" %>
        </li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to "Sign in", signin_path %></li>
  <% end %>
</head>
<body>

<div class="results"></div>
<%= yield %>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script type="text/javascript">

  Hobby.init()

</script>

</body>

</html>
